body { background-color: #f9f9f9; color: #111; font-family: Verdana; }
h1 { background: #006400; color: white; padding: 10px; }
h2, h3 { color: #006400; }

.style-box, .sidebar-box {
  border: 2px solid #006400;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}
button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: none;
  background: #006400;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-size: 16px;
}
button:hover {
  background: #004d00;
}
