body { background-color: #eefbee; color: #222; font-family: Arial; }
h1 { background: green; color: white; padding: 10px; }
h2, h3 { color: green; }


.style-box, .sidebar-box {
  border: 2px solid green;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}


button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: none;
  background: green;
  color: white;
  cursor: pointer;
  border-radius: 30px; /* makes it oval */
  font-size: 16px;
}
button:hover {
  background: darkgreen;
}
